<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016381371376-akp7vsg2dsh49704gp2p0n0lebvp2ctt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016381371376-akp7vsg2dsh49704gp2p0n0lebvp2ctt</string>
	<key>API_KEY</key>
	<string>AIzaSyDgrsWzjQjfZb636px5GGM5L7eHIzqKF-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1016381371376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.varunmehta.SampleOCBCApp</string>
	<key>PROJECT_ID</key>
	<string>sampleocbcapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleocbcapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016381371376:ios:83cbb688cea02d5562a335</string>
</dict>
</plist>